<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Angular Training</title>

    <link
      rel="stylesheet"
      href="https://rblmdst.github.io/angular-signal-workshop-gdg-paris/assets/css/rouge-github.css"
    />
    <link
      rel="stylesheet"
      href="https://rblmdst.github.io/angular-signal-workshop-gdg-paris/assets/css/style.css"
    />
  </head>
  <body>
    <header>
      <img
        src="https://rblmdst.github.io/angular-signal-workshop-gdg-paris/assets/images/angular_gradient.png"
        alt="angular-logo"
      />
      <h1>
        <a href="https://rblmdst.github.io/angular-signal-workshop-gdg-paris"
          >Angular Workshop - Découverte des Signaux</a
        >
      </h1>
      <nav>
        <li>
          <a href="https://rblmdst.github.io/angular-signal-workshop-gdg-paris"
            >Accueil</a
          >
        </li>
        <li>
          <a
            href="https://rblmdst.github.io/angular-signal-workshop-gdg-paris/angular-signal"
            >Signal API</a
          >
        </li>
        <li>
          <a
            href="https://rblmdst.github.io/angular-signal-workshop-gdg-paris/practice"
            >Practice</a
          >
        </li>
        <li>
          <a
            href="https://rblmdst.github.io/angular-signal-workshop-gdg-paris/day-3"
            >Jour 3</a
          >
        </li>
      </nav>
    </header>
    <main>{{content}}</main>
    <footer>
      &copy; 2023 Dev Propulsor | by
      <a href="https://twitter.com/rblmdst">@rblmdst</a>
    </footer>

    <section></section>
  </body>
</html>
